body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: radial-gradient(circle at center center, black, #1162ac);
    color: white;
    text-align: center; /* Centralizar todo o conteúdo */
}
.pdf-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}
.pdf-item span {
    margin-left: 10px;
    flex-grow: 1;
}
.lista-pdfs {
    margin-top: 30px;
}
button {
    margin-top: 30px;
    margin-left: 10px; /* Adiciona espaçamento entre os botões */
    padding: 30px;
    font-size: 16px;
    background-color: #1162ac;
    color: white;
    border: 16px solid transparent; /* Ajuste da borda */
    border-radius: 16px; /* Bordas arredondadas */
    cursor: pointer;
    display: inline-block; /* Manter os botões inline */
}
button:hover {
    background-color: #0e4f87;
}
input[type="file"] {
    border: 16px solid transparent; /* Ajuste da borda do input */
    border-radius: 16px; /* Bordas arredondadas */
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px; /* Adiciona espaçamento abaixo do input */
}
.pdf-item button {
    padding: 5px 10px; /* Tamanho dos botões de seta e remover */
    margin-left: 5px;
    margin-top: 0;
    border-radius: 8px; /* Bordas arredondadas para os botões menores */
}
.pdf-item button:hover {
    background-color: #0e4f87;
}
.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}
.home-button img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, background-color 0.3s;
}
.home-button:hover img {
    transform: scale(1.05);
}
.home-button:active img {
    transform: scale(0.95);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footer img {
    height: 50px;
    position: fixed;
    top: 450px;
    left: px;
}

.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}