body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: radial-gradient(circle at center center, black, #1162ac);
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="file"] {
    border: none;
    border-radius: 16px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    background-color: #1162ac;
    color: white;
}

button {
    margin-top: 30px;
    padding: 10px;
    font-size: 16px;
    background-color: #1162ac;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    display: inline-block;
}

button:hover {
    background-color: #0e4f87;
}

.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.home-button img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, background-color 0.3s;
}

.home-button:hover img {
    transform: scale(1.05);
}

.home-button:active img {
    transform: scale(0.95);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.footer img {
    height: 100px;
    max-width: 100%;
    margin-top: 30px;
}