body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: radial-gradient(circle at center center, black, #1162ac);
    color: white;
    text-align: center;
}

.imagem-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.imagem-item span {
    margin-left: 10px;
    flex-grow: 1;
}

.lista-imagens {
    margin-top: 30px;
}

button {
    margin-top: 30px;
    margin-left: 10px;
    padding: 15px;
    font-size: 16px;
    background-color: #1162ac;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}

button:hover {
    background-color: #0e4f87;
}

input[type="file"] {
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.imagem-item button {
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 8px;
}

.imagem-item button:hover {
    background-color: #0e4f87;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


/* Estilo para o botão Home */

.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.home-button img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, background-color 0.3s;
}

.home-button:hover img {
    transform: scale(1.05);
}

.home-button:active img {
    transform: scale(0.95);
}