body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #017AB1, #02202B);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.input-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colunas */
    grid-gap: 20px;
    /* Espaçamento entre os inputs */
    margin-bottom: 25px;
    width: 100%;
    max-width: 800px;
    text-align: right;
}

input,
button,
select {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

button {
    background-color: #017AB1;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
    grid-column: span 3;
    /* Botão ocupa 3 colunas */
    margin-top: 20px;
}

button:hover {
    background-color: #015f86;
}

.qr-code {
    margin-top: 20px;
    text-align: center;
}

textarea {
    width: 100%;
    max-width: 800px;
    height: 50px;
    margin-top: 20px;
    resize: none;
    border-radius: 13px;
    border: none;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footer img {
    height: 50px;
}

.footer p {
    margin: 10px 0 0;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
    .input-group {
        grid-template-columns: 1fr;
        /* Coluna única em telas menores */
    }
    input,
    button {
        width: 100%;
    }
}

.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.home-button img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, background-color 0.3s;
}

.home-button:hover img {
    transform: scale(1.05);
}

.home-button:active img {
    transform: scale(0.95);
}

.copy {
    background-color: #3890b6;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    justify-content: center;
    margin-top: 20px;
    /* Espaçamento entre o botão "copy" e o output */
}

.copy:active {
    background: #9aa758;
}

.copy:disabled {
    background: #2678a0;
    color: #ffffff;
    cursor: not-allowed;
}
