/* CSS Global */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #017AB1, #02202B);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

/*Botão de copiar*/
.copy {
    background-color: #ffffff00;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    justify-content: center;
    margin-top: 20px;
    box-shadow: none;
    
    /* Espaçamento entre o botão "copy" e o output */
}

.copy:active {
    background: #ffffff00;
}

.copy:disabled {
    background: #ffffff00;
    color: #ffffff;
    cursor: not-allowed;
}
/*Fim botão de copiar*/

/* Alteração para alinhar os inputs em 4 linhas e 3 colunas */

.input-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colunas */
    gap: 10px;
    /* Espaçamento entre os elementos */
    max-width: 800px;
    /* Largura máxima do container */
    margin: 0 auto;
    /* Centralizar o container */
}

.input-group input,
.input-group select {
    width: 100%;
    /* Preencher o espaço disponível na coluna */
    padding: 10px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
}


/* Demais estilos */

.pais {
    padding: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

input,
button,
select {
    padding: 5px;
    font-size: 1rem;
    border: solid;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

button {
    background-color: #017AB1;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

button:hover {
    background-color: #015f86;
}

.qr-code {
    margin-top: 20px;
    text-align: center;
}

textarea {
    width: 100%;
    max-width: 800px;
    height: 50px;
    margin-top: 20px;
    resize: none;
    border-radius: 13px;
    border: none;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.footer img {
    height: 50px;
    transition: margin-top 0.3s ease;
}

.footer p {
    margin: 10px 0 0;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
    input,
    button {
        flex: 1 1 100%;
    }
}

.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.home-button img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, background-color 0.3s;
}

.home-button:hover img {
    transform: scale(1.05);
}

.home-button:active img {
    transform: scale(0.95);
}
